body{
	margin: 0px 0px;
	min-width: 1280px;
}
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#title_img
{
	width: 400%;
	overflow: hidden;
}
#t_img
{
	width: 100%;
	overflow: hidden;
}
.img_circle
{
	width: 120px;
	margin: auto;
	position: relative;
	top: -50px; 
	z-index: 1000;
	height: 25px;
}
.img_c
{
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 10px;
	float: left; 
	border-radius: 10px; 
	border: 2px solid #ffffff;
	background-color:rgba(0,,0,0~1);
	pointer-events:auto;
}
.img_c:hover
{
	cursor: pointer;
}
.img_c_select
{
	background: #FFFFFF;
}

.zscqfw{
	width: 1180px;
	margin: 20px auto;
	height: 550px;
}
.zscqfw_title
{
	text-align: center;
	height: 80px;
	line-height: 80px;
	width: 300px;
	margin: 0 auto;
}
.zscqfw_title img
{
	width: auto;
	height: 100%;
	float: left;

}
.zscqfw_title span
{	
	width: 160px;
	float: left;
	font-size: 24px;
	margin: auto 10px;
}
.zscqfw_left
{
	height: 550px;
	width: 1020px;
	margin: 20px auto;
}
.zscqfw_content
{
	width: 300px;
	float: left;
	text-align: center;
	margin: 20px 20px;
	box-shadow: 0 0 10px #eee;
}
.zscqfw_content_img
{
	width: 100%;
	margin: 28px auto; 

}
.zscqfw_content_span
{
	margin: 20px auto;
}

.img_n
{
	width: 25%;
	height: 400px;
	float: left;
	
}
.sb_process
{
	width: 1180px;
	margin: 0 auto;
}
.kjzcfc
{
	width: 1180px;
	height: 470px;
	margin: 20px auto;
	clear: both;
}
.kjzcfc_title
{
	font-size: 24px;
	text-align: center;
	margin: 20px auto;
}
.k_left{
	width: 25%;
	
	display: inline;
	float: left;
}
.k_left_content
{
	height: 400px;
	margin: 10px 10px;
	box-shadow:0 0 10px #eee;
	position: relative;
}
.k_text_1
{
	padding-top: 30px;
	padding-left: 20px;  
	font-size: 20px;
	font-weight: bold;
} 
.k_text_2
{
	padding-top: 10px;
	padding-left: 20px; 
	font-size: 14px;
	color: #aaa;
}
.k_bt_1
{
	margin-top: 10px;
	margin-left: 20px; 
	font-size: 14px;
	color: #888;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid #888;
}
.k_bt_1:hover
{
	cursor: pointer;
}

.k_img img{
	position: absolute;
	bottom: 10px;
	right: 10px;
	/*height: 150px;*/
	/*width: 150px;*/
	z-index: -1;
}
.k_right{
	width: 75%;
	height: 100%;

	display: inline;
	float: right;
}
.k_right_content{
	height: 400px;

	margin: 10px 10px;
	/*box-shadow:0 0 10px #eee;*/
}
.k_r_d{
	height: 200px;
	width: 100%;
}
.k_r_t_div{
	width:33%;
	height: 190px;
	float: left;
	margin-bottom: 10px;
}
.k_r_t_div_div
{
	box-shadow:0 0 10px #eee;
	height: 100%;
	margin-right: 10px;
	margin-left: 10px; 

}

.k_r_b_div{
	width:33%;
	height: 190px;
	float: left;
	margin-top: 10px;
}
.k_r_div
{
	box-shadow:0 0 10px #eee;
	height: 100%;
	margin-right: 10px;
	margin-left: 10px; 
	position: relative;

}

.title_phone
{
	margin-left: 700px; 
}
.title_phone span{
	font-size: 18px;
	font-weight: bold;
	display: none;
}

.dropbtn {
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	color: #000;

}

.dropbtn:hover a{
	color: #fff;
}
.dropdown {
	position: relative;
	display: inline-block;
	text-align: center;
	min-width:120px;
	float: left;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
}

.dropdown-content a:hover
{

	color: #FFF;
	background: #b72e22;
	
}
.d_c_a
{
	color: black;
	background: #f9f9f9
}
.d_c_a_active
{
	color: #FFF;
	background: #b72e22;
}


.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #b72e22;
	color: #fff;
}
.title_bt
{
	min-width: 100px;height: 40px;text-align: center;line-height: 40px;
	float: left;
	margin:0 10px; 
	padding: 0 10px;

}
.title_bt_active
{
	color: #FFF;
	background: #b72e22;
}
.title_bt_active a
{
	color: #FFF;
}
.title_bt:hover
{
	cursor: pointer;
	color: #FFF;
	background: #b72e22;
}
.title_bt:hover a
{
	color: #fff;
}
.server
{
	width: 1180px;
	margin: 20px auto;
	height: 320px;
	/*border: 1px solid #000;*/
}
.server_text{
	text-align: center;
	font-size: 24px;
}
.server_div
{
	width: 25%;
	float: left;
	height: 100%;

}
.server_img
{
	width: 100%;
	text-align: center;
}
.server_t1
{
	text-align: center;
	font-size: 22px;
	margin: 10px 0px;
}
.server_t2
{
	text-align: center;
	color: #888;
	font-size: 14px;
	margin: 10px 0px;
}

.sb_process
{
	width: 1180px;
	/*height: 500px;*/
	margin: 20px auto;
	clear: both;
}
.sb_process_text
{
	margin: 20px auto;
	text-align:  center;
}
.sb_process_text span
{
	height: 40px;
	line-height: 40px;
	font-size: 24px;
}
a{
	outline: none;
	text-decoration: none;
	background: transparent;
	color: #000;
}
.gxrd_gj, .gbrd_hc
{
	width: 1180px;
	margin: 20px auto;
	
}
.zscq_zl_s
{
	width: 1110px;
	margin: 20px auto;
	min-width: 1110px;
	height: 500px;
}
.gxrd_gj_title, .gbrd_hc_title, .gbrd_fw_p_title,.zscq_zl_s_title
{
	text-align: center;
	margin: 20px auto;
}
.gxrd_gj_title span
{
	font-size: 32px;
}
.gbrd_hc_title span
{
	font-size: 32px;
}
.gbrd_hc_context
{
	height: 320px;
}
.gbrd_fw_p_title span
{
	font-size: 28px;
	line-height: 1em;
	padding-bottom: 13px;
	color: #666;
}
.zscq_zl_s_title span
{
	font-size: 28px;
}
.gxrd_gj_context, .gxrd_hc_context,.zscq_zl_s_context
{
	margin: 20px auto;
	height: 350px;
}
.zl_s_context
{
	float: left;
	text-align: center;
	width: 360px;
	margin: 10px 5px;
	background: #F1F1F1;
}
.zl_s_img
{
	width: 110px;
	margin: 10px auto;
	float: left;
	height: 170px;
	text-align: center;
	position: relative;
}
.zl_s_img img
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.zl_s_text
{
	text-align: center;
	margin: 10px 10px;
	width: 220px;
	float: left;

}
.zl_s_text .s_title1
{
	display: block;
	color: #006DD3;
	font-size:24px;
	margin: 10px 0;
	text-align: left;
	font-weight:bold;
}
.zl_s_text .s_title2
{
	display: block;
	margin: 20px 0;
	text-align: left;
	font-size: 16px;
	line-height: 20px;

}
.zl_s_text .s_title3
{
	display: block;
	border-radius: 5px;
	background: #E1E1E1;
	padding: 5px 5px;
	width: 100px;
	font-size: 14px;

}
.gj_context
{
	float: left;
	text-align: center;
	width: 25%;
	margin: 10px auto;
}
.gj_img
{
	width: 100%;
	margin: 10px auto;
}
.gj_text
{
	text-align: center;
	margin: 10px auto;
	width: 200px;
}

.gxrd_hc_title
{
	margin: auto;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	height: 110px;
	line-height: 110px;
}
.gxrd_hc_title span{
	color: #c40000;
	font-size: 42px;
}
.gxrd_hc_content
{
	margin: 20px auto;
	width: 1180px;
	height: 470px;

}
.hc_content
{
	float: left;
	width: 20%;
	text-align: center;
	margin: 10 auto;
}
.hc_img
{
	width: 100%;
	text-align: center;
}
.hc_text span
{
	display: block;
	text-align: center;
	margin: 10px auto;
}
.hc_text .hc_t1
{
	font-size: 18px;
}
.hc_text .hc_t2
{
	font-size: 14px;
}
.gbrd_fw
{
	width: 1180px;
	margin: 20px auto;
}
.gbrd_fw_content
{
	border: 3px solid #0676b6;
	height: 347px;
}

.fw_left
{
	float: left;
	width: 22%;
	background: #0676b6;
	display: inline;
	height: 100%;
}
.fw_left_img
{
	display: block;
	width: 137px;
	height: 137px;
	margin: 50px auto 18px;
}
.fw_left_text
{
	margin: 0 auto;
	line-height: 42px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	width: 130px;
}
.fw_center
{
	margin: 32px 0 0 34px;
	max-width: 610px;
	text-align: left;
	float: left;
	width: 58%;
}
.fw_c_item
{
	display: inline-block;
	margin-right: 10px;
	width: 137px;
	height: 41px;
	line-height: 41px;
	text-align: center;
	color: #fff;
	background: url(./../images/gbrd/fw2.png) center no-repeat;
	font-size: 18px;
}
.fw_c_i2
{
	color: #919191;
	font-size: 18px;
}
.fw_c_list
{
	display: inline-block;
	width: 450px;
	vertical-align: -117px;
}
.fw_c_desc
{
	margin: 25px 0 10px;
}
.fw_c_i3
{
	display: inline-block;
	margin-bottom: 15px;
	width: 220px;
	font-size: 16px;
	color: #575757;
}
.fw_c_i_em
{
	display: inline-block;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	background: #a6a2a2;
}
.fw_right
{
	float: left;
	padding-left: 31px ;
	height: 280px;
	
	margin-top:  34px;
	border-left: 1px solid #e5e4e3;
	

}
.fw_r_bt
{
	width: 212px;
	height: 60px;
	font-size: 24px;
	color: #fff;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
	background: #ff733c;
	margin-top: 105px;
	cursor: pointer;
	
}
.gbrd_fw_p
{
	width: 1180px;
	margin: 30px auto;
	height: 424px;
	margin-top: 50px;
}
.fw_p_item
{
	float: left;
	width: 33.3%;
	text-align: center;
	margin: 20px 0;
}
.fw_p_i_img
{
	display: block;
	margin: 20px auto;
}
.fw_p_i_line
{
	width: 40px;
	height: 3px;
	background-color: #049ad9;
	margin: 10px auto;
}
.fw_p_i_t1
{
	font-size: 16px;
	color: #666;
	line-height: 1em;
	text-align: center;
}
.fw_p_i_t2
{
	font-size: 14px;
	color: #999;
	line-height: 1em;
	text-align: center;
}
.gbrd_cmp
{
	margin: 20px auto;
	width: 900px;
	text-align: center;
	height: 370px;
}
.gbrd_cmp_title
{

}
.gbrd_cmp_title span
{
	font-size:32px;
}
.gbrd_cmp_title p
{
	font-size:32px;
	color: #ff733c;
	display: inline-block;
	margin: 0;
}
.gbrd_cmp_l
{
	text-align: center;
	width: 50%;
	background-color: #333;
	color: #EEE; 
	float: left;
	margin: 20px auto;
}
.gbrd_cmp_r
{
	text-align: center;
	width: 50%;
	background-color: #A80000;
	color: #EEE; 
	float: left;
	margin: 20px auto;
}
.gbrd_cmp_text1
{
	margin: 20px auto;
}
.gbrd_cmp_text1 span
{
	font-size: 24px;
}
.gbrd_cmp_text2
{
	margin: 10px auto;
}
.gbrd_cmp_text2 span
{
	font-size: 18px; 
}
.become_wrap
{
	margin: 40px auto;
	width: 1280px;
}
.beTitle
{
	margin: auto;
	width: 597px;
	height: 42px;
}
.twoTitle
{
	width: 600px;
	height: 40px;
	background: #69cffa;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 24px;
	margin: 25px auto 25px;
}
.clearfix
{
	height: 190px;
	list-style: none;
	zoom: 1;
}
.clearfix li{
	float: left;
	margin-right: 25px;
	cursor: pointer;
}
.clearfix li p{
	width: 120px;
	height: 115px;
	background: #69cffa;
	border-radius: 50px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	padding-top: 25px;
	line-height: 35px;
	margin-bottom: 6px;
}
.clearfix li .be1{
	background:#498bfc;
}
.clearfix li .be2{
	background:#69cffa;
}
.clearfix li .be3{
	background:#ff8040;
}
.clearfix li .be4{
	background:#f54e91;
}
.become ul li .be5{
	background:#13a79d;
}
.clearfix li .be6{
	background:#27a9f4;
}
.clearfix li .be7{
	background:#fcae14;
}
.clearfix li .be8{
	background:#ff8040;
}
.clearfix li b{
	display: block;
	width: 51px;
	height: 51px;
	background: url(./../images/gxjs/twosj.png) center no-repeat;
	margin: 14px auto;
	display: none;
}
.clearfix li.hover p{
	box-shadow: 1px 1px 10px #a1e0fa;
}
.become_wrap ol{
	display: block;
	list-style-type: decimal;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;


}
.become_wrap ol li{
	width: 1180px;
	height: 300px;
	padding: 40px 0;
	background: #f0fafe;
	display: none;
	margin: 0 auto;
}
.become_wrap ol li p.number {
	float: left;
	width: 135px;
	margin-left: 10px;
}
.become_wrap ol li p
{
	font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	color: #666666;
	font-size: 16px;
	line-height: 30px;
}
.become_wrap ol li div {
	width: 1010px;
	float: left;
	margin-left: 20px;
}
h5{
	display: block;
	font-size: 0.83em;
	margin-block-start: 1.67em;
	margin-block-end: 1.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.become_wrap ol li h5{
	font-size: 24px;
	color: #69cffa;
	margin-bottom: 20px;
	margin-top: 10px;
}
.zl_hc{
	margin-top: 100px; 
	height: 520px;
}
.zl_hc_line1
{
	width: 750px;
	margin: 70px auto;
	height: 150px;
	min-width: 750px;
}
.zl_hc_line2
{
	width: 1050px;
	margin: 150px auto;
	height: 150px;
	margin-bottom: 20px;
	display: block;
}
.zl_hc_line3
{
	width: 300px;
	margin: auto;
	height: 55px;
	display: block;
	position: relative;
	top:-250px;
}
.zl_hc_s
{
	float: left;
	width: 250px;
	position: relative;
}

.hc_top {
	position: absolute;
	width: 115.5px;
	height: 200px;
	left: 67px;
	top: -43px;
	transform:rotate(30deg);
	-ms-transform:rotate(30deg); 	/* IE 9 */
	-moz-transform:rotate(30deg); 	/* Firefox */
	-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
	-o-transform:rotate(30deg); 
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.hc_m {
	width:200px;
	height: 115.5px;
	margin: 0px auto;
	padding: 0px 10px;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
.hc_m_content
{
	width: 100%;
	height: 50px;
}
.hc_m_c_img
{
	float: left;
	width: 50px;
	margin: -10px 8px;
}
.hc_m_c_img img
{
	width: 50px;
	height: 50px;
}
.hc_m_c_title
{
	float: left;
	font-size: 24px;
	margin-top: -2px; 
	font-weight: bold;
}
.hc_m_text
{
	font-size: 16px;
	line-height: 26px;
	margin-top: -5px; 
	font-weight: bold;
}
.hc_bottom {
	position: absolute;
	width: 115.5px;
	height: 200px;
	left: 67px;
	top: -43px;
	transform:rotate(330deg);
	-ms-transform:rotate(330deg); 	/* IE 9 */
	-moz-transform:rotate(330deg); 	/* Firefox */
	-webkit-transform:rotate(330deg); /* Safari 和 Chrome */
	-o-transform:rotate(330deg); 
	border-top: 1px solid white;
	border-bottom: 1px solid white; 
}
.zl_hc_center
{
	width: 550px;
	float: left;
	height: 150px;

}
.zl_hc_center .circle
{
	text-align: center;

	background: #FF4500;
	height: 120px;
	width: 120px;
	margin: auto;
	border-radius: 60px;
	
}
.circle_text{
	text-align: center;
	width: 80px;
	height: 80px;
	margin: auto;
	padding-top: 35px;
	line-height: 24px;
	color: white;
	font-size: 18px;
	
}
.border_green
{
	border-color: green; 
}
.border_lime
{
	border-color: lime; 
}

.border_teal
{
	border-color: teal; /*蓝绿色*/ 
}

.border_red
{
	border-color: red; 
}

.border_fuchsia
{
	border-color: fuchsia; 
}

.sq_zscq
{
	width: 80%;
	margin:20px auto;
	clear: both;
	position: relative;
	top: -160px;
}
.sq_zscq_title
{
	text-align: center;
	font-size: 28px; 
}
.sq_zscq_content
{
	width: 1000px;
	margin: 20px auto;
	height: 200px;
}
.sq_content_item
{
	margin: 20px auto; 
	text-align: center;
	float: left;
	width: 200px;
}
.sq_item_img
{
	border-radius: 10px;
	background: #FF4500; 
	width: 120px;
	height: 120px;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.sq_item_img img
{
	width: 60px;
	height: 60px;
	position: absolute;
	top:50%; 
	left:50%;
	transform: translate(-50%,-50%);
	
}
.sq_item_text
{
	margin: 0 auto;
	margin-top: 10px; 
	text-align: center; 
	font-size: 14px;
	width: 120px;
}
.sq_item_text2
{
	margin: 0 auto;
	text-align: center; 
	font-size: 12px;
	color: #C7C7C7;
}
.zl_hc_c_jt{
	text-align: center;
}
.zl_hc_c_jt .jt_item1
{
	float: left;

	width: 20%;
	margin-top: 120px;
}
.zl_hc_c_jt .jt_item2
{
	float: left;
	text-align: left;
	margin-left: -35px;
	margin-top:40px; 
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 
	width: 19.5%;
}
.zl_hc_c_jt .jt_item3
{
	float: left;
	width: 20%;
	margin: auto;
	text-align: right;
	margin-left: 30px;
}
.zl_hc_c_jt .jt_item4
{
	float: left;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 
	width: 19.5%;
	text-align: right;
	margin-left: 35px;
	margin-top: 40px;
}
.zl_hc_c_jt .jt_item5
{
	float: left;
	margin-top: 120px;
	width: 20%;
	margin-left: -27px;
	text-align: right;

}
.xmsb
{
	width: 1080px;
	margin:0 auto;
}

.xmsb_left
{
	width: 240px;
	float: left;
	padding-bottom: 60px;
}
.xmsb_left .xmsb_top
{
	height: 80px;
	background: #1f90c8;
	text-align: right;
	padding-right: 30px;
	margin: 60px 0 42px;
}

.xmsb_left .xmsb_top h4 
{
	margin:0;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	padding-top: 15px;
}

.xmsb_top span
{
	font-family: 微软雅黑;
	font-size: 14px;
	color: rgb(51, 51, 51);
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	color: #fff;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-khtml-opacity: 0.5;
	-moz-opacity: 0.5;
}
.xmsb_tab
{
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;

	font-family: 微软雅黑;
	font-size: 14px;
	color: rgb(51, 51, 51);
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}
.xmsb_tab li
{
	list-style: none;
	margin:0;
	padding: 0;
	text-align: right;
	margin-bottom: 17px;
}
.xmsb_tab li a
{
	
	width: 100%;
	display: block;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	border-bottom: 1px solid #1f90c8;
	float: right;

}
.xmsb_tab li a span
{
	margin-left:10px; 
}
.xmsb_tab li a:hover
{
	background: #00aaff;
	color: #fff;
}
.xmsb_tab li a:hover span
{
	color: #fff;

}


.menu2 li a {
	font-size: 12px;
	height: 38px;
	line-height: 38px;
	display: block;
	border-bottom: 1px solid #1f90c8;
	width: 88%;
	float: right;
	color: #333;
}
.xmsb_right
{
	width: 780px;
	padding-bottom: 100px;
	float: right;
	display: block;
}
.xmsb_right .right_current{
	text-align: right;
	color: #aaa;
	border-bottom: 1px solid #d6d6d6;
	line-height: 34px;
	margin-top: 26px;
	font-size: 14px;
	color: #aaa;
	padding: 0 5px;
}
.xmsb_right a
{
	color: #aaa;
}
.fotter
{
	height: 160px;
	background: #030000;
	width: 100%;
	clear: both;
	padding-top: 40px;
}
.fotter_1,.fotter_2,.fotter_3
{
	margin: 5px auto;
	text-align: center;
	font-size:14px;
	color: #fff;

}


 .fw_proc
 {
 	clear: both;
 	width:1020px;
 	margin:30px auto;
 }
 .fw_proc_title
 {
 	text-align: center;

 }
 .fw_proc_title span
 {
 	font-size: 24px;
 }
 .fw_proc_content
 {
 	height: 120px;
 	margin: 20px auto;
 }
 .fw_proc_c1
 {
 	float: left;
 	width: 12%;
 	text-align: center;
 	height: 120px;
 }
 .fw_proc_img
 {
 	height: 60px;
 	margin: 10px auto;
 }
 .fw_proc_c2
 {
 	float: left;
 	width: 10%;
 	text-align: center;
 	font-size: 32px;
 	margin: 20px auto;
 	/*height: 120px;*/
 }
 .fw_proc_c2 span
 {
 	margin-top:20px; 
 }
 .cj_quest
 {
 	width:1180px;
 	margin: 20px auto;
 	clear: both;
 }
 .cj_quest_title
 {
 }
 .cj_quest_title span
 {
 	font-size: 24px;
 }
 .cj_quest_q
 {
 	margin: 20px auto;
 }
 .cj_quest_a
 {
 	margin: 10px auto;
 	line-height: 36px;
 }
 .cj_quest_q span
 {
 	font-size: 18px;
 	color: #FF0000;
 	
 }
 .cj_quest_a span
 {
 	font-size: 16px;
 }
 .gx_proc
 {
 	width: 1180px;
 	margin: 20px auto;
 	text-align: center;
 	clear: both;
 	height: 400px;
 }
 .gx_proc_title
 {
 	margin: 20px auto;
 }
 .gx_proc_title span
 {
 	font-size: 32px;
 }
 .gx_proc_content
 {
 }
 .gx_proc_img
 {
 	background:url(./../images/gxjs/proc.png);
 	height: 159px;
 	width: 1122px;
 	margin: 0 auto;
 	background-size: 100%;
 }
 .gx_proc_text
 {
 	width: 20%;
 	float: left;
 	text-align: center;
 	margin: 5px auto;
 }
 .gx_proc_text1
 {
 	color:#005293;
 	font-size: 18px;
 	height: 60px;
 	line-height: 25px;
 }
 .gx_proc_text2
 {
 	font-size: 18px;
 	color: #666666;
 	margin-top:10px;

 }

.item_content
{
	width: 1180px;
	text-align: center;
	clear: both;
	margin: 20px auto;
}
.item_l
{
	float: left;
	width: 15%;

}
.item_l ul
{
	padding: 0;
	margin:0;
}
.item_l li
{
	width: 100%;
}
.item_l a
{
	list-style: none;
	height: 39px;
	line-height: 39px;
	width: 100%;
	display: block;
	padding: 0 2px; 
	border-bottom: 1px solid #1f90c8; 
}
.item_l a:hover
{
	background-color: #00AAFF;
	color: #FFF;
}
.item_r_a_active
{
	background-color: #00AAFF;
	color: #FFF;
}

.item_r
{
	float: left;
	width: 85%;
	padding: 0px 20px; 
	min-height: 300px;
}
.item_li1
{
	font-size: 18px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	margin:0px;
	padding: 0px;
}
.item_ul2
{
	width: 100%;
}

.item_ul2 li
{
	font-size: 16px;
	text-align: right;
	list-style: none;
	cursor: pointer;
	width: 80%;
	margin:0px 0px;
	padding: 0px 0px;
	margin-left: 36px; 

}

.item_ul2 li a
{

	padding: 0 10px;

}

 #item_ul ul
 {
 	display: none;
 	margin:0px;
	padding: 0px;
 }

 .item_r_title
 {
 	border-bottom: 1px dotted #aaa;
 }

 .item_r_title span
 {
 	text-align: center;
    font-weight: normal;
    font-size: 24px;
    color: #222;
    line-height: 65px;
    
    margin-bottom: 18px;
    width: 100%;
 }
 .item_r_content p
 {
 	line-height: 1.5em;
 	font-size: 16px;
 	text-align: left;
 	color: #666;
 	margin: 5px 0; 

 }
 .span_red
 {
 	color: #ff0000;
 }
 .cp_2 
 {
 	text-indent: 32px;
 }
 #list_01, #list_02,#list_03
 {
 	display: none;
 	margin-bottom: 50px; 
 }